* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: pre-line;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  white-space: pre-line;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2b2b2b00;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 17px;
  background-clip: padding-box;
  border: 0px solid transparent;
  background-color: #6b6b6b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color:#6b6b6b;
} 

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 60px;
  color: #6b6b6b;
}


.added_color {
  color: #ffaa00;
  color: #0368ff;
  color: #ea638c;
  color: #b33c86;
  color: #01398c;
  color: #eb63d1;
  color: #eb6374;
  color: #ebae63;
  color: #ed789b;
  color: #fd5a5a;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #0368ff;
  margin:  auto ;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}